#pad      {

    border-style: solid;
    border-width: 8px;
    border-color: red;
    background-color: white;
    width: 720px;
    height: 720px;
    display: grid;
    
}


body{
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inspiration', cursive;
    font-family: 'Press Start 2P', cursive;
    background-color: black;
  
}

.square {

    background-color: black;
}

#green  {
    background-color: green;
}

#yellow {
    background-color: yellow;
}

#red    {
    background-color: red;
}


#blue   {
    background-color: blue;
}


#rainbow    {
    background: linear-gradient(45deg, blue, red);
}


.colorButton    {

   
    
    height: 48px;
    width: 48px;
}

#colorButtons   {
    font-size:  32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#apply  {
    font-family: 'Press Start 2P', cursive;
    border-radius: 0%;
    color: white;
    background-color: blue;
}

.slider   {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 480px;
    appearance: none;
    background: RED;

    border-radius: 0%;
    cursor: pointer;
}

#instruments    {
    font-size: 36px;
}


#resolution {
    display: flex;
    flex-direction: row;
}

label   {
    font-size: 32px;
}

#demo   {
    font-size: 32px;
}
h1  {
    font-size: 48px;
}