#pad      {

    border-style: solid;
    border-width: 8px;
    border-color: red;
    background-color: white;
    width: 820px;
    height: 820px;
    display: grid;
    
}


body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: cursive;
}

.square {

    background-color: black;
}

#green  {
    background-color: green;
}

#yellow {
    background-color: yellow;
}

#red    {
    background-color: red;
}


#blue   {
    background-color: blue;
}


#rainbow    {
    background: linear-gradient(45deg, blue, red);
}


.colorButton    {

   
    
    height: 48px;
    width: 48px;
}

